################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GoogleMapTestAutomation/.vs
/GoogleMapTestAutomation/bin/
/GoogleMapTestAutomation/obj


